USE [Tarea2]
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidarLogin]    Script Date: 20/10/2025 18:50:53 ******/
DROP PROCEDURE [dbo].[sp_ValidarLogin]
GO
/****** Object:  StoredProcedure [dbo].[sp_Logout]    Script Date: 20/10/2025 18:50:53 ******/
DROP PROCEDURE [dbo].[sp_Logout]
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarMovimientosEmpleado]    Script Date: 20/10/2025 18:50:53 ******/
DROP PROCEDURE [dbo].[sp_ListarMovimientosEmpleado]
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarEmpleados]    Script Date: 20/10/2025 18:50:53 ******/
DROP PROCEDURE [dbo].[sp_ListarEmpleados]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarMovimiento]    Script Date: 20/10/2025 18:50:53 ******/
DROP PROCEDURE [dbo].[sp_InsertarMovimiento]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarEmpleado]    Script Date: 20/10/2025 18:50:53 ******/
DROP PROCEDURE [dbo].[sp_InsertarEmpleado]
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarEmpleado]    Script Date: 20/10/2025 18:50:53 ******/
DROP PROCEDURE [dbo].[sp_EliminarEmpleado]
GO
/****** Object:  StoredProcedure [dbo].[sp_CargadorXML]    Script Date: 20/10/2025 18:50:53 ******/
DROP PROCEDURE [dbo].[sp_CargadorXML]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarEmpleado]    Script Date: 20/10/2025 18:50:53 ******/
DROP PROCEDURE [dbo].[sp_ActualizarEmpleado]
GO
ALTER TABLE [dbo].[Movimiento] DROP CONSTRAINT [FK_Movimiento_Usuario]
GO
ALTER TABLE [dbo].[Movimiento] DROP CONSTRAINT [FK_Movimiento_TipoMovimiento]
GO
ALTER TABLE [dbo].[Movimiento] DROP CONSTRAINT [FK_Movimiento_Empleado]
GO
ALTER TABLE [dbo].[Empleado] DROP CONSTRAINT [FK_Empleado_Puesto]
GO
ALTER TABLE [dbo].[BitacoraEvento] DROP CONSTRAINT [FK_BitacoraEvento_Usuario]
GO
ALTER TABLE [dbo].[BitacoraEvento] DROP CONSTRAINT [FK_BitacoraEvento_TipoEvento]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 20/10/2025 18:50:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuario]') AND type in (N'U'))
DROP TABLE [dbo].[Usuario]
GO
/****** Object:  Table [dbo].[TipoMovimiento]    Script Date: 20/10/2025 18:50:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TipoMovimiento]') AND type in (N'U'))
DROP TABLE [dbo].[TipoMovimiento]
GO
/****** Object:  Table [dbo].[TipoEvento]    Script Date: 20/10/2025 18:50:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TipoEvento]') AND type in (N'U'))
DROP TABLE [dbo].[TipoEvento]
GO
/****** Object:  Table [dbo].[Puesto]    Script Date: 20/10/2025 18:50:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Puesto]') AND type in (N'U'))
DROP TABLE [dbo].[Puesto]
GO
/****** Object:  Table [dbo].[Movimiento]    Script Date: 20/10/2025 18:50:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Movimiento]') AND type in (N'U'))
DROP TABLE [dbo].[Movimiento]
GO
/****** Object:  Table [dbo].[Error]    Script Date: 20/10/2025 18:50:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Error]') AND type in (N'U'))
DROP TABLE [dbo].[Error]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 20/10/2025 18:50:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Empleado]') AND type in (N'U'))
DROP TABLE [dbo].[Empleado]
GO
/****** Object:  Table [dbo].[DBError]    Script Date: 20/10/2025 18:50:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DBError]') AND type in (N'U'))
DROP TABLE [dbo].[DBError]
GO
/****** Object:  Table [dbo].[BitacoraEvento]    Script Date: 20/10/2025 18:50:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BitacoraEvento]') AND type in (N'U'))
DROP TABLE [dbo].[BitacoraEvento]
GO
USE [master]
GO
/****** Object:  Database [Tarea2]    Script Date: 20/10/2025 18:50:53 ******/
DROP DATABASE [Tarea2]
GO
/****** Object:  Database [Tarea2]    Script Date: 20/10/2025 18:50:53 ******/
CREATE DATABASE [Tarea2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tarea2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Tarea2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tarea2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Tarea2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tarea2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tarea2]
GO
/****** Object:  Table [dbo].[BitacoraEvento]    Script Date: 20/10/2025 18:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraEvento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTipoEvento] [int] NOT NULL,
	[Descripcion] [varchar](512) NOT NULL,
	[IdPostByUser] [int] NOT NULL,
	[PostInIP] [varchar](32) NOT NULL,
	[PostTime] [datetime] NOT NULL,
 CONSTRAINT [PK_BitacoraEvento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DBError]    Script Date: 20/10/2025 18:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DBError](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](64) NOT NULL,
	[Number] [int] NOT NULL,
	[State] [int] NOT NULL,
	[Severity] [int] NOT NULL,
	[Line] [int] NOT NULL,
	[Procedure] [varchar](128) NOT NULL,
	[Message] [varchar](512) NOT NULL,
	[DateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_DBError] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 20/10/2025 18:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPuesto] [int] NOT NULL,
	[ValorDocumentoIdentidad] [varchar](32) NOT NULL,
	[Nombre] [varchar](128) NOT NULL,
	[FechaContratacion] [date] NOT NULL,
	[SaldoVacaciones] [int] NOT NULL,
	[EsActivo] [bit] NOT NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Error]    Script Date: 20/10/2025 18:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Error](
	[Id] [int] NOT NULL,
	[Codigo] [int] NOT NULL,
	[Descripcion] [varchar](256) NOT NULL,
 CONSTRAINT [PK_Error] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movimiento]    Script Date: 20/10/2025 18:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimiento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpleado] [int] NOT NULL,
	[IdTipoMovimiento] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Monto] [int] NOT NULL,
	[NuevoSaldo] [int] NOT NULL,
	[IdPostByUser] [int] NOT NULL,
	[PostInIP] [varchar](32) NOT NULL,
	[PostTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Movimiento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Puesto]    Script Date: 20/10/2025 18:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Puesto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](128) NOT NULL,
	[SalarioxHora] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Puesto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoEvento]    Script Date: 20/10/2025 18:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEvento](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](128) NOT NULL,
 CONSTRAINT [PK_TipoEvento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoMovimiento]    Script Date: 20/10/2025 18:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMovimiento](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](128) NOT NULL,
	[TipoAccion] [varchar](16) NOT NULL,
 CONSTRAINT [PK_TipoMovimiento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 20/10/2025 18:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] NOT NULL,
	[Username] [varchar](64) NOT NULL,
	[Password] [varchar](64) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BitacoraEvento]  WITH CHECK ADD  CONSTRAINT [FK_BitacoraEvento_TipoEvento] FOREIGN KEY([IdTipoEvento])
REFERENCES [dbo].[TipoEvento] ([Id])
GO
ALTER TABLE [dbo].[BitacoraEvento] CHECK CONSTRAINT [FK_BitacoraEvento_TipoEvento]
GO
ALTER TABLE [dbo].[BitacoraEvento]  WITH CHECK ADD  CONSTRAINT [FK_BitacoraEvento_Usuario] FOREIGN KEY([IdPostByUser])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[BitacoraEvento] CHECK CONSTRAINT [FK_BitacoraEvento_Usuario]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_Puesto] FOREIGN KEY([IdPuesto])
REFERENCES [dbo].[Puesto] ([Id])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_Puesto]
GO
ALTER TABLE [dbo].[Movimiento]  WITH CHECK ADD  CONSTRAINT [FK_Movimiento_Empleado] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleado] ([Id])
GO
ALTER TABLE [dbo].[Movimiento] CHECK CONSTRAINT [FK_Movimiento_Empleado]
GO
ALTER TABLE [dbo].[Movimiento]  WITH CHECK ADD  CONSTRAINT [FK_Movimiento_TipoMovimiento] FOREIGN KEY([IdTipoMovimiento])
REFERENCES [dbo].[TipoMovimiento] ([Id])
GO
ALTER TABLE [dbo].[Movimiento] CHECK CONSTRAINT [FK_Movimiento_TipoMovimiento]
GO
ALTER TABLE [dbo].[Movimiento]  WITH CHECK ADD  CONSTRAINT [FK_Movimiento_Usuario] FOREIGN KEY([IdPostByUser])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Movimiento] CHECK CONSTRAINT [FK_Movimiento_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarEmpleado]    Script Date: 20/10/2025 18:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarEmpleado]
    @inIdEmpleado INT
    , @inIdPuesto INT
    , @inValorDocumentoIdentidad VARCHAR(32)
    , @inNombre VARCHAR(128)
    , @inUserId INT
    , @inIP VARCHAR(32)
    , @outResultCode INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @LogDescription VARCHAR(1000);
    DECLARE @DocAnterior VARCHAR(32);
    DECLARE @NombreAnterior VARCHAR(128);
    DECLARE @PuestoAnterior VARCHAR(128);
    DECLARE @PuestoNuevo VARCHAR(128);
    DECLARE @SaldoVacaciones INT;

    BEGIN TRY
        SET @outResultCode = 0; -- Sin error

        -- Obtener valores anteriores para incluir en bitácora
        SELECT @DocAnterior = E.ValorDocumentoIdentidad
            , @NombreAnterior = E.Nombre
            , @PuestoAnterior = P.Nombre
            , @SaldoVacaciones = E.SaldoVacaciones
        FROM dbo.Empleado AS E
        INNER JOIN dbo.Puesto AS P ON E.IdPuesto = P.Id
        WHERE (E.Id = @inIdEmpleado);

        -- Verificar que el empleado existe
        IF (@DocAnterior IS NULL) -- Si empleado no existe
        BEGIN
            SET @outResultCode = 50008; -- Empleado no existe
            RETURN;
        END;

        -- Validar formato numérico del valor
        IF (@inValorDocumentoIdentidad LIKE '%[^0-9]%')
        BEGIN
            SET @outResultCode = 50010; -- Valor de documento no numérico
            RETURN;
        END;

        -- Validar duplicados de documento
        IF (EXISTS (
            SELECT 1 
            FROM dbo.Empleado AS E 
            WHERE (E.ValorDocumentoIdentidad = @inValorDocumentoIdentidad) 
                AND (E.Id != @inIdEmpleado)
                AND (E.EsActivo = 1)
        ))
        BEGIN
            SET @outResultCode = 50006; -- Documento ya existe
            RETURN;
        END;

        -- Validar duplicados 
        IF (EXISTS (
            SELECT 1 
            FROM dbo.Empleado AS E 
            WHERE (E.Nombre = @inNombre) 
                AND (E.Id != @inIdEmpleado)
                AND (E.EsActivo = 1)
        ))
        BEGIN
            SET @outResultCode = 50007; -- Nombre ya existe
            RETURN;
        END;

        -- Obtener nombre del nuevo puesto
        SELECT @PuestoNuevo = P.Nombre
        FROM dbo.Puesto AS P
        WHERE (P.Id = @inIdPuesto);

        SET @LogDescription = 'Actualizando empleado - Antes: {Documento="' + @DocAnterior 
            + '", Nombre="' + @NombreAnterior 
            + '", Puesto="' + @PuestoAnterior 
            + '"} - Después: {Documento="' + @inValorDocumentoIdentidad 
            + '", Nombre="' + @inNombre 
            + '", Puesto="' + @PuestoNuevo 
            + '", SaldoVacaciones=' + CAST(@SaldoVacaciones AS VARCHAR) + '}';

        -- TRANSACTION
        BEGIN TRANSACTION;

            UPDATE dbo.Empleado 
            SET IdPuesto = @inIdPuesto
                , ValorDocumentoIdentidad = @inValorDocumentoIdentidad
                , Nombre = @inNombre
            WHERE (Id = @inIdEmpleado);

            INSERT INTO dbo.BitacoraEvento (
                IdTipoEvento
                , Descripcion
                , IdPostByUser
                , PostInIP
                , PostTime
            ) VALUES (
                8 -- Update exitoso
                , @LogDescription
                , @inUserId
                , @inIP
                , GETDATE()
            );

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        IF (@@TRANCOUNT > 0)
        BEGIN
            ROLLBACK TRANSACTION;
        END;


        INSERT INTO dbo.DBError (
            UserName
            , Number
            , State
            , Severity
            , Line
            , [Procedure]
            , Message
            , DateTime
        ) VALUES (
            SUSER_SNAME()
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ISNULL(ERROR_PROCEDURE(), 'N/A')
            , ERROR_MESSAGE()
            , GETDATE()
        );


        SET @outResultCode = 50008; -- Error de base de datos
    END CATCH;

    SET NOCOUNT OFF;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CargadorXML]    Script Date: 20/10/2025 18:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CargadorXML]
    @inXmlData XML
    , @outResultCode INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdPuesto TABLE (Nombre VARCHAR(128), Id INT);
    DECLARE @IdUsuario TABLE (Nombre VARCHAR(64), Id INT);
    DECLARE @IdEmpleado TABLE (ValorDocumentoIdentidad VARCHAR(32), Id INT);

    BEGIN TRY
        SET @outResultCode = 0;

        -- Validar si ya existen datos para evitar duplicados
        IF (EXISTS (SELECT 1 FROM dbo.Puesto) 
            OR EXISTS (SELECT 1 FROM dbo.Empleado) 
            OR EXISTS (SELECT 1 FROM dbo.Movimiento))
        BEGIN
            SET @outResultCode = 50008;
            RETURN;
        END;

        BEGIN TRANSACTION;

        -- Cargar Puestos 
        INSERT INTO dbo.Puesto (
            Nombre
            , SalarioxHora
        )
        SELECT 
            T.Item.value('@Nombre', 'VARCHAR(128)') AS Nombre
            , T.Item.value('@SalarioxHora', 'DECIMAL(10,2)') AS SalarioxHora
        FROM @inXmlData.nodes('/Datos/Puestos/Puesto') AS T(Item);

        INSERT INTO @IdPuesto (Nombre, Id)
        SELECT P.Nombre, P.Id
        FROM dbo.Puesto AS P;

        -- Cargar Tipos Evento
        INSERT INTO dbo.TipoEvento (
            Id
            , Nombre
        )
        SELECT 
            T.Item.value('@Id', 'INT') AS Id
            , T.Item.value('@Nombre', 'VARCHAR(128)') AS Nombre
        FROM @inXmlData.nodes('/Datos/TiposEvento/TipoEvento') AS T(Item);

        -- Cargar Tipos Movimiento
        INSERT INTO dbo.TipoMovimiento (
            Id
            , Nombre
            , TipoAccion
        )
        SELECT 
            T.Item.value('@Id', 'INT') AS Id
            , T.Item.value('@Nombre', 'VARCHAR(128)') AS Nombre
            , T.Item.value('@TipoAccion', 'VARCHAR(16)') AS TipoAccion
        FROM @inXmlData.nodes('/Datos/TiposMovimientos/TipoMovimiento') AS T(Item);

        -- Cargar Usuarios
        INSERT INTO dbo.Usuario (
            Id
            , Username
            , Password
        )
        SELECT 
            T.Item.value('@Id', 'INT') AS Id
            , T.Item.value('@Nombre', 'VARCHAR(64)') AS Username
            , T.Item.value('@Pass', 'VARCHAR(64)') AS Password
        FROM @inXmlData.nodes('/Datos/Usuarios/usuario') AS T(Item);

        INSERT INTO @IdUsuario (Nombre, Id)
        SELECT U.Username, U.Id
        FROM dbo.Usuario AS U;

        -- Cargar Errores
        INSERT INTO dbo.Error (
            Id
            , Codigo
            , Descripcion
        )
        SELECT 
            T.Item.value('@Id', 'INT') AS Id
            , T.Item.value('@Codigo', 'INT') AS Codigo
            , T.Item.value('@Descripcion', 'VARCHAR(256)') AS Descripcion
        FROM @inXmlData.nodes('/Datos/Error/errorCodigo') AS T(Item);

        -- Cargar Empleados
        INSERT INTO dbo.Empleado (
            IdPuesto
            , ValorDocumentoIdentidad
            , Nombre
            , FechaContratacion
            , SaldoVacaciones
            , EsActivo
        )
        SELECT 
            IP.Id AS IdPuesto
            , T.Item.value('@ValorDocumentoIdentidad', 'VARCHAR(32)') AS ValorDocumentoIdentidad
            , T.Item.value('@Nombre', 'VARCHAR(128)') AS Nombre
            , T.Item.value('@FechaContratacion', 'DATE') AS FechaContratacion
            , 0 AS SaldoVacaciones
            , 1 AS EsActivo
        FROM @inXmlData.nodes('/Datos/Empleados/empleado') AS T(Item)
        INNER JOIN @IdPuesto AS IP ON T.Item.value('@Puesto', 'VARCHAR(128)') = IP.Nombre;

        INSERT INTO @IdEmpleado (ValorDocumentoIdentidad, Id)
        SELECT E.ValorDocumentoIdentidad, E.Id
        FROM dbo.Empleado AS E;

        -- Cargar Movimientos
        DECLARE @Movimientos TABLE (
            RowId INT IDENTITY(1,1)
            , ValorDocId VARCHAR(32)
            , IdTipoMovimiento INT
            , Fecha DATE
            , Monto INT
            , PostByUser VARCHAR(64)
            , PostInIP VARCHAR(32)
            , PostTime DATETIME
        );

        INSERT INTO @Movimientos (
            ValorDocId
            , IdTipoMovimiento
            , Fecha
            , Monto
            , PostByUser
            , PostInIP
            , PostTime
        )
        SELECT 
            T.Item.value('@ValorDocId', 'VARCHAR(32)') AS ValorDocId
            , T.Item.value('@IdTipoMovimiento', 'INT') AS IdTipoMovimiento
            , T.Item.value('@Fecha', 'DATE') AS Fecha
            , T.Item.value('@Monto', 'INT') AS Monto
            , T.Item.value('@PostByUser', 'VARCHAR(64)') AS PostByUser
            , T.Item.value('@PostInIP', 'VARCHAR(32)') AS PostInIP
            , T.Item.value('@PostTime', 'DATETIME') AS PostTime
        FROM @inXmlData.nodes('/Datos/Movimientos/movimiento') AS T(Item)
        ORDER BY T.Item.value('@PostTime', 'DATETIME'); -- Ordenar por tiempo para procesar en orden

        -- Procesar movimientos uno por uno
        DECLARE @CurrentRow INT = 1;
        DECLARE @TotalRows INT = (SELECT COUNT(1) FROM @Movimientos);
        DECLARE @IdEmpleadoMov INT;
        DECLARE @IdUsuarioMov INT;
        DECLARE @TipoAccionMov VARCHAR(16);
        DECLARE @SaldoActualMov INT;
        DECLARE @NuevoSaldoMov INT;

        WHILE (@CurrentRow <= @TotalRows)
        BEGIN
            SELECT 
                @IdEmpleadoMov = IE.Id
                , @IdUsuarioMov = IU.Id
                , @TipoAccionMov = TM.TipoAccion
            FROM @Movimientos AS M
            INNER JOIN @IdEmpleado AS IE ON M.ValorDocId = IE.ValorDocumentoIdentidad
            INNER JOIN @IdUsuario AS IU ON M.PostByUser = IU.Nombre
            INNER JOIN dbo.TipoMovimiento AS TM ON M.IdTipoMovimiento = TM.Id
            WHERE (M.RowId = @CurrentRow);

            -- Obtener saldo actual del empleado
            SELECT @SaldoActualMov = E.SaldoVacaciones
            FROM dbo.Empleado AS E
            WHERE (E.Id = @IdEmpleadoMov);

            -- Calcular nuevo saldo según el tipo de acción que se realice 
            IF (@TipoAccionMov = 'Credito')
            BEGIN
                SET @NuevoSaldoMov = @SaldoActualMov + (
                    SELECT M.Monto 
                    FROM @Movimientos AS M 
                    WHERE (M.RowId = @CurrentRow)
                );
            END
            ELSE
            BEGIN
                SET @NuevoSaldoMov = @SaldoActualMov - (
                    SELECT M.Monto 
                    FROM @Movimientos AS M 
                    WHERE (M.RowId = @CurrentRow)
                );
            END;

            -- Insertar movimiento
            INSERT INTO dbo.Movimiento (
                IdEmpleado
                , IdTipoMovimiento
                , Fecha
                , Monto
                , NuevoSaldo
                , IdPostByUser
                , PostInIP
                , PostTime
            )
            SELECT 
                @IdEmpleadoMov
                , M.IdTipoMovimiento
                , M.Fecha
                , M.Monto
                , @NuevoSaldoMov
                , @IdUsuarioMov
                , M.PostInIP
                , M.PostTime
            FROM @Movimientos AS M
            WHERE (M.RowId = @CurrentRow);

            -- Actualizar saldo del empleado
            UPDATE dbo.Empleado 
            SET SaldoVacaciones = @NuevoSaldoMov 
            WHERE (Id = @IdEmpleadoMov);

            SET @CurrentRow = @CurrentRow + 1;
        END;

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        IF (@@TRANCOUNT > 0)
        BEGIN
            ROLLBACK TRANSACTION;
        END;

        INSERT INTO dbo.DBError (
            UserName
            , Number
            , State
            , Severity
            , Line
            , [Procedure]
            , Message
            , DateTime
        ) VALUES (
            SUSER_SNAME()
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ISNULL(ERROR_PROCEDURE(), 'N/A')
            , ERROR_MESSAGE()
            , GETDATE()
        );

        SET @outResultCode = 50008; -- Error de base de datos
        
        -- Mostrar información del error
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;

    SET NOCOUNT OFF;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarEmpleado]    Script Date: 20/10/2025 18:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarEmpleado]
    @inIdEmpleado INT
    , @inUserId INT
    , @inIP VARCHAR(32)
    , @outResultCode INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @LogDescription VARCHAR(1000);
    DECLARE @DocEmpleado VARCHAR(32);
    DECLARE @NombreEmpleado VARCHAR(128);
    DECLARE @PuestoNombre VARCHAR(128);
    DECLARE @SaldoVacaciones INT;

    BEGIN TRY
        SET @outResultCode = 0; -- Sin error

        -- Obtener datos del empleado para agregar a bitácora
        SELECT @DocEmpleado = E.ValorDocumentoIdentidad
            , @NombreEmpleado = E.Nombre
            , @PuestoNombre = P.Nombre
            , @SaldoVacaciones = E.SaldoVacaciones
        FROM dbo.Empleado AS E
        INNER JOIN dbo.Puesto AS P ON E.IdPuesto = P.Id
        WHERE (E.Id = @inIdEmpleado);

        -- Verificar que el empleado existe
        IF (@DocEmpleado IS NULL)
        BEGIN
            SET @outResultCode = 50008; -- Empleado no existe
            RETURN;
        END;

        SET @LogDescription = 'Eliminando empleado: {Documento="' + @DocEmpleado 
            + '", Nombre="' + @NombreEmpleado 
            + '", Puesto="' + @PuestoNombre 
            + '", SaldoVacaciones=' + CAST(@SaldoVacaciones AS VARCHAR) + '}';

        -- TRANSACTION
        BEGIN TRANSACTION;

            -- Registrar intento de borrado
            INSERT INTO dbo.BitacoraEvento (
                IdTipoEvento
                , Descripcion
                , IdPostByUser
                , PostInIP
                , PostTime
            ) VALUES (
                9 -- Intento de borrado
                , @LogDescription
                , @inUserId
                , @inIP
                , GETDATE()
            );

            -- Borrado (Activo a 0)
            UPDATE dbo.Empleado 
            SET EsActivo = 0 
            WHERE (Id = @inIdEmpleado);

            -- Registrar borrado exitoso
            INSERT INTO dbo.BitacoraEvento (
                IdTipoEvento
                , Descripcion
                , IdPostByUser
                , PostInIP
                , PostTime
            ) VALUES (
                10 -- Borrado exitoso
                , @LogDescription
                , @inUserId
                , @inIP
                , GETDATE()
            );

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        IF (@@TRANCOUNT > 0)
        BEGIN
            ROLLBACK TRANSACTION;
        END;

        INSERT INTO dbo.DBError (
            UserName
            , Number
            , State
            , Severity
            , Line
            , [Procedure]
            , Message
            , DateTime
        ) VALUES (
            SUSER_SNAME()
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ISNULL(ERROR_PROCEDURE(), 'N/A')
            , ERROR_MESSAGE()
            , GETDATE()
        );

        SET @outResultCode = 50008; 
    END CATCH;

    SET NOCOUNT OFF;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarEmpleado]    Script Date: 20/10/2025 18:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarEmpleado]
    @inIdPuesto INT
    , @inValorDocumentoIdentidad VARCHAR(32)
    , @inNombre VARCHAR(128)
    , @inFechaContratacion DATE
    , @inUserId INT
    , @inIP VARCHAR(32)
    , @outResultCode INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @LogDescription VARCHAR(1000);
    DECLARE @PuestoNombre VARCHAR(128);

    BEGIN TRY
        SET @outResultCode = 0; 

        -- Validar formato numérico del valor
        IF (@inValorDocumentoIdentidad LIKE '%[^0-9]%')
        BEGIN
            SET @outResultCode = 50010; -- Valor de documento no numérico
            RETURN;
        END;

        -- Validar que el nombre sea alfabético
        IF (@inNombre LIKE '%[^a-zA-Z ]%')
        BEGIN
            SET @outResultCode = 50009; -- Nombre no alfabético
            RETURN;
        END;

        -- Validar duplicados de ValorDocumento
        IF (EXISTS (
            SELECT 1 
            FROM dbo.Empleado AS E 
            WHERE (E.ValorDocumentoIdentidad = @inValorDocumentoIdentidad) 
                AND (E.EsActivo = 1)
        ))
        BEGIN
            SET @outResultCode = 50004; -- ValorDocumento ya existe
            RETURN;
        END;

        -- Validar duplicados de nombre
        IF (EXISTS (
            SELECT 1 
            FROM dbo.Empleado AS E 
            WHERE (E.Nombre = @inNombre) 
                AND (E.EsActivo = 1)
        ))
        BEGIN
            SET @outResultCode = 50005; -- Npmbre ya existe
            RETURN;
        END;

        -- Obtener nombre del puesto para bitácora
        SELECT @PuestoNombre = P.Nombre
        FROM dbo.Puesto AS P
        WHERE (P.Id = @inIdPuesto);

        SET @LogDescription = 'Insertando empleado: {Documento="' + @inValorDocumentoIdentidad 
            + '", Nombre="' + @inNombre 
            + '", Puesto="' + @PuestoNombre + '"}';

        -- TRANSACTION
        BEGIN TRANSACTION;

            INSERT INTO dbo.Empleado (
                IdPuesto
                , ValorDocumentoIdentidad
                , Nombre
                , FechaContratacion
                , SaldoVacaciones
                , EsActivo
            ) VALUES (
                @inIdPuesto
                , @inValorDocumentoIdentidad
                , @inNombre
                , @inFechaContratacion
                , 0
                , 1 
            );

            INSERT INTO dbo.BitacoraEvento (
                IdTipoEvento
                , Descripcion
                , IdPostByUser
                , PostInIP
                , PostTime
            ) VALUES (
                6 -- Inserción exitosa
                , @LogDescription
                , @inUserId
                , @inIP
                , GETDATE()
            );

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        IF (@@TRANCOUNT > 0)
        BEGIN
            ROLLBACK TRANSACTION;
        END;

        INSERT INTO dbo.DBError (
            UserName
            , Number
            , State
            , Severity
            , Line
            , [Procedure]
            , Message
            , DateTime
        ) VALUES (
            SUSER_SNAME()
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ISNULL(ERROR_PROCEDURE(), 'N/A')
            , ERROR_MESSAGE()
            , GETDATE()
        );

        SET @outResultCode = 50008; 
    END CATCH;

    SET NOCOUNT OFF;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarMovimiento]    Script Date: 20/10/2025 18:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertarMovimiento]
    @inValorDocumentoIdentidad VARCHAR(32)
    , @inIdTipoMovimiento INT
    , @inMonto INT
    , @inUserId INT
    , @inIP VARCHAR(32)
    , @outResultCode INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @LogDescription VARCHAR(1000);
    DECLARE @SaldoActual INT;
    DECLARE @NuevoSaldo INT;
    DECLARE @IdEmpleado INT;
    DECLARE @TipoAccion VARCHAR(16);
    DECLARE @NombreEmpleado VARCHAR(128);
    DECLARE @TipoMovNombre VARCHAR(128);

    BEGIN TRY
        SET @outResultCode = 0; 

        -- Obtener datos del empleado
        SELECT @IdEmpleado = E.Id
            , @SaldoActual = E.SaldoVacaciones
            , @NombreEmpleado = E.Nombre
        FROM dbo.Empleado AS E
        WHERE (E.ValorDocumentoIdentidad = @inValorDocumentoIdentidad) 
            AND (E.EsActivo = 1);

        -- Verificar que el empleado existe
        IF (@IdEmpleado IS NULL)
        BEGIN
            SET @outResultCode = 50008; 
            RETURN;
        END;

        -- Obtener datos del tipo de movimiento
        SELECT @TipoAccion = TM.TipoAccion
            , @TipoMovNombre = TM.Nombre
        FROM dbo.TipoMovimiento AS TM
        WHERE (TM.Id = @inIdTipoMovimiento);

        -- Verificar que el tipo de movimiento existe
        IF (@TipoAccion IS NULL)
        BEGIN
            SET @outResultCode = 50008; 
            RETURN;
        END;

        -- Calcular nuevo saldo
        IF (@TipoAccion = 'Credito')
        BEGIN
            SET @NuevoSaldo = @SaldoActual + @inMonto;
        END
        ELSE
        BEGIN
            SET @NuevoSaldo = @SaldoActual - @inMonto;
        END;

        -- Validar saldo negativo
        IF (@NuevoSaldo < 0)
        BEGIN
            SET @outResultCode = 50011; -- Saldo negativo
            
            SET @LogDescription = 'Error insertando movimiento: {Empleado="' + @inValorDocumentoIdentidad 
                + '", SaldoActual=' + CAST(@SaldoActual AS VARCHAR) 
                + ', TipoMovimiento="' + @TipoMovNombre 
                + '", Monto=' + CAST(@inMonto AS VARCHAR) + '}';
            
            INSERT INTO dbo.BitacoraEvento (
                IdTipoEvento
                , Descripcion
                , IdPostByUser
                , PostInIP
                , PostTime
            ) VALUES (
                13 -- Intento de insertar movimiento
                , @LogDescription
                , @inUserId
                , @inIP
                , GETDATE()
            );
            
            RETURN;
        END;

        SET @LogDescription = 'Insertando movimiento: {Empleado="' + @inValorDocumentoIdentidad 
            + '", NuevoSaldo=' + CAST(@NuevoSaldo AS VARCHAR) 
            + ', TipoMovimiento="' + @TipoMovNombre 
            + '", Monto=' + CAST(@inMonto AS VARCHAR) + '}';

        -- TRANSACTION
        BEGIN TRANSACTION;

            INSERT INTO dbo.Movimiento (
                IdEmpleado
                , IdTipoMovimiento
                , Fecha
                , Monto
                , NuevoSaldo
                , IdPostByUser
                , PostInIP
                , PostTime
            ) VALUES (
                @IdEmpleado
                , @inIdTipoMovimiento
                , GETDATE()
                , @inMonto
                , @NuevoSaldo
                , @inUserId
                , @inIP
                , GETDATE()
            );

            UPDATE dbo.Empleado 
            SET SaldoVacaciones = @NuevoSaldo 
            WHERE (Id = @IdEmpleado);

            INSERT INTO dbo.BitacoraEvento (
                IdTipoEvento
                , Descripcion
                , IdPostByUser
                , PostInIP
                , PostTime
            ) VALUES (
                14 -- Insertar movimiento exitoso
                , @LogDescription
                , @inUserId
                , @inIP
                , GETDATE()
            );

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        IF (@@TRANCOUNT > 0)
        BEGIN
            ROLLBACK TRANSACTION;
        END;

        INSERT INTO dbo.DBError (
            UserName
            , Number
            , State
            , Severity
            , Line
            , [Procedure]
            , Message
            , DateTime
        ) VALUES (
            SUSER_SNAME()
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ISNULL(ERROR_PROCEDURE(), 'N/A')
            , ERROR_MESSAGE()
            , GETDATE()
        );

        SET @outResultCode = 50008; 
    END CATCH;

    SET NOCOUNT OFF;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarEmpleados]    Script Date: 20/10/2025 18:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarEmpleados]
    @inFiltro VARCHAR(100) = NULL
    , @inUserId INT
    , @inIP VARCHAR(32)
    , @outResultCode INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SET @outResultCode = 0; 

        -- Registrar en bitácora según tipo de filtro
        IF ((@inFiltro IS NULL) OR (LTRIM(RTRIM(@inFiltro)) = ''))
        BEGIN
            INSERT INTO dbo.BitacoraEvento (
                IdTipoEvento
                , Descripcion
                , IdPostByUser
                , PostInIP
                , PostTime
            ) VALUES (
                11 -- Consulta con filtro de nombre
                , 'Consulta todos los empleados'
                , @inUserId
                , @inIP
                , GETDATE()
            );
        END
        ELSE IF (@inFiltro LIKE '%[^0-9]%') -- Contiene letras
        BEGIN
            INSERT INTO dbo.BitacoraEvento (
                IdTipoEvento
                , Descripcion
                , IdPostByUser
                , PostInIP
                , PostTime
            ) VALUES (
                11 -- Consulta con filtro de nombre
                , 'Filtro por nombre: ' + @inFiltro
                , @inUserId
                , @inIP
                , GETDATE()
            );
        END
        ELSE -- Solo números
        BEGIN
            INSERT INTO dbo.BitacoraEvento (
                IdTipoEvento
                , Descripcion
                , IdPostByUser
                , PostInIP
                , PostTime
            ) VALUES (
                12 -- Consulta con filtro de cedula
                , 'Filtro por cédula: ' + @inFiltro
                , @inUserId
                , @inIP
                , GETDATE()
            );
        END;

        -- Aplicar filtros
        IF ((@inFiltro IS NULL) OR (LTRIM(RTRIM(@inFiltro)) = ''))
        BEGIN
            SELECT E.Id
                , E.ValorDocumentoIdentidad
                , E.Nombre
                , P.Nombre AS PuestoNombre
                , E.FechaContratacion
                , E.SaldoVacaciones
                , E.EsActivo
            FROM dbo.Empleado AS E
            INNER JOIN dbo.Puesto AS P ON E.IdPuesto = P.Id
            WHERE (E.EsActivo = 1)
            ORDER BY E.Nombre;
        END
        ELSE IF (@inFiltro LIKE '%[^0-9]%') -- Filtro por nombre
        BEGIN
            SELECT E.Id
                , E.ValorDocumentoIdentidad
                , E.Nombre
                , P.Nombre AS PuestoNombre
                , E.FechaContratacion
                , E.SaldoVacaciones
                , E.EsActivo
            FROM dbo.Empleado AS E
            INNER JOIN dbo.Puesto AS P ON E.IdPuesto = P.Id
            WHERE (E.EsActivo = 1) 
                AND (E.Nombre LIKE '%' + @inFiltro + '%')
            ORDER BY E.Nombre;
        END
        ELSE -- Filtro por documento
        BEGIN
            SELECT E.Id
                , E.ValorDocumentoIdentidad
                , E.Nombre
                , P.Nombre AS PuestoNombre
                , E.FechaContratacion
                , E.SaldoVacaciones
                , E.EsActivo
            FROM dbo.Empleado AS E
            INNER JOIN dbo.Puesto AS P ON E.IdPuesto = P.Id
            WHERE (E.EsActivo = 1) 
                AND (E.ValorDocumentoIdentidad LIKE '%' + @inFiltro + '%')
            ORDER BY E.Nombre;
        END;

    END TRY
    BEGIN CATCH

        INSERT INTO dbo.DBError (
            UserName
            , Number
            , State
            , Severity
            , Line
            , [Procedure]
            , Message
            , DateTime
        ) VALUES (
            SUSER_SNAME()
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ISNULL(ERROR_PROCEDURE(), 'N/A')
            , ERROR_MESSAGE()
            , GETDATE()
        );

        SET @outResultCode = 50008; 
    END CATCH;

    SET NOCOUNT OFF;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarMovimientosEmpleado]    Script Date: 20/10/2025 18:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ListarMovimientosEmpleado]
    @inIdEmpleado INT
    , @inUserId INT
    , @inIP VARCHAR(32)
    , @outResultCode INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SET @outResultCode = 0; 

        SELECT M.Fecha
            , TM.Nombre AS TipoMovimiento
            , M.Monto
            , M.NuevoSaldo
            , U.Username AS UsuarioRegistra
            , M.PostInIP
            , M.PostTime
        FROM dbo.Movimiento AS M
        INNER JOIN dbo.TipoMovimiento AS TM ON M.IdTipoMovimiento = TM.Id
        INNER JOIN dbo.Usuario AS U ON M.IdPostByUser = U.Id
        WHERE (M.IdEmpleado = @inIdEmpleado)
        ORDER BY M.Fecha DESC
            , M.PostTime DESC;

    END TRY
    BEGIN CATCH
        INSERT INTO dbo.DBError (
            UserName
            , Number
            , State
            , Severity
            , Line
            , [Procedure]
            , Message
            , DateTime
        ) VALUES (
            SUSER_SNAME()
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ISNULL(ERROR_PROCEDURE(), 'N/A')
            , ERROR_MESSAGE()
            , GETDATE()
        );

        SET @outResultCode = 50008; 
    END CATCH;

    SET NOCOUNT OFF;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Logout]    Script Date: 20/10/2025 18:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Logout]
    @inUserId INT
    , @inIP VARCHAR(32)
    , @outResultCode INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        SET @outResultCode = 0;
        
        INSERT INTO dbo.BitacoraEvento (
            IdTipoEvento, Descripcion, IdPostByUser, PostInIP, PostTime
        ) VALUES (
            4, -- Logout
            NULL,
            @inUserId,
            @inIP,
            GETDATE()
        );
        
    END TRY
    BEGIN CATCH
        INSERT INTO dbo.DBError (
            UserName
            , Number
            , State
            , Severity
            , Line
            , [Procedure]
            , Message
            , DateTime
        ) VALUES (
            SUSER_SNAME()
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ISNULL(ERROR_PROCEDURE(), 'N/A')
            , ERROR_MESSAGE()
            , GETDATE()
        );    END CATCH;
    
    SET NOCOUNT OFF;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ValidarLogin]    Script Date: 20/10/2025 18:50:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ValidarLogin]
    @inUsername VARCHAR(64)
    , @inPassword VARCHAR(64)
    , @inIP VARCHAR(32)
    , @outResultCode INT OUTPUT
    , @outUserId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IntentosRecientes INT;

    BEGIN TRY
        SET @outResultCode = 0; 

        -- Verificar intentos fallidos recientes
        SELECT @IntentosRecientes = COUNT(1)
        FROM dbo.BitacoraEvento AS BE
        INNER JOIN dbo.Usuario AS U ON BE.IdPostByUser = U.Id
        WHERE (U.Username = @inUsername)
            AND (BE.IdTipoEvento = 2) -- Login No Exitoso
            AND (BE.PostTime > DATEADD(MINUTE, -5, GETDATE()));

        -- Validar si está bloqueado por intentos
        IF (@IntentosRecientes >= 5)
        BEGIN
            SET @outResultCode = 50003; -- Login deshabilitado
            
            INSERT INTO dbo.BitacoraEvento (
                IdTipoEvento
                , Descripcion
                , IdPostByUser
                , PostInIP
                , PostTime
            ) VALUES (
                3 -- Login deshabilitado
                , 'Login deshabilitado por intentos fallidos'
                , (SELECT Id FROM dbo.Usuario WHERE Username = @inUsername)
                , @inIP
                , GETDATE()
            );
            
            RETURN;
        END;

        -- Validar que existe el usuario
        IF (NOT EXISTS (
            SELECT 1 
            FROM dbo.Usuario AS U 
            WHERE (U.Username = @inUsername)
        ))
        BEGIN
            SET @outResultCode = 50001; -- Username no existe
            
            INSERT INTO dbo.BitacoraEvento (
                IdTipoEvento
                , Descripcion
                , IdPostByUser
                , PostInIP
                , PostTime
            ) VALUES (
                2 -- Login No Exitoso
                , 'Intento: ' + CAST((@IntentosRecientes + 1) AS VARCHAR) + ' - Error: 50001'
                , (SELECT Id FROM dbo.Usuario WHERE Username = @inUsername)
                , @inIP
                , GETDATE()
            );
            
            RETURN;
        END;

        -- Validar contraseña
        IF (NOT EXISTS (
            SELECT 1 
            FROM dbo.Usuario AS U 
            WHERE (U.Username = @inUsername) 
                AND (U.Password = @inPassword)
        ))
        BEGIN
            SET @outResultCode = 50002; -- Password incorrecto
            
            INSERT INTO dbo.BitacoraEvento (
                IdTipoEvento
                , Descripcion
                , IdPostByUser
                , PostInIP
                , PostTime
            ) VALUES (
                2 -- Login No Exitoso
                , 'Intento: ' + CAST((@IntentosRecientes + 1) AS VARCHAR) + ' - Error: 50002'
                , (SELECT Id FROM dbo.Usuario WHERE Username = @inUsername)
                , @inIP
                , GETDATE()
            );
            
            RETURN;
        END;

        -- Login exitoso
        SELECT @outUserId = U.Id
        FROM dbo.Usuario AS U
        WHERE (U.Username = @inUsername) 
            AND (U.Password = @inPassword);

        INSERT INTO dbo.BitacoraEvento (
            IdTipoEvento
            , Descripcion
            , IdPostByUser
            , PostInIP
            , PostTime
        ) VALUES (
            1 -- Login Exitoso
            , NULL
            , @outUserId
            , @inIP
            , GETDATE()
        );

    END TRY
    BEGIN CATCH
        INSERT INTO dbo.DBError (
            UserName
            , Number
            , State
            , Severity
            , Line
            , [Procedure]
            , Message
            , DateTime
        ) VALUES (
            SUSER_SNAME()
            , ERROR_NUMBER()
            , ERROR_STATE()
            , ERROR_SEVERITY()
            , ERROR_LINE()
            , ISNULL(ERROR_PROCEDURE(), 'N/A')
            , ERROR_MESSAGE()
            , GETDATE()
        );

        SET @outResultCode = 50008; 
    END CATCH;

    SET NOCOUNT OFF;
END;
GO
USE [master]
GO
